* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.row {
  /* all: initial; */
  all: unset;
  display: flex;
  flex-direction: row;
}
.col-3 {
  height: 100vh;
  position: fixed;
  width: 25%;
  margin: 0;
}
.col-3 .h1 {
  margin: 10px;
}
.form-container {
  width: 100%;
  margin: 10px;
}

.form-control {
  width: 80%;
}
textarea {
  resize: vertical;
}

.hide {
  display: none;
}

.col-9 {
  margin: 0;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 25%;
  min-height: 100vh;
}
.card {
  min-width: 300px;
  height: 300px;
  margin: 20px;
  /* background: rgb(240, 237, 74); */
  border-radius: 0;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

form .btn {
  width: 80%;
}

.card .btn-primary {
  margin: 10px;
  border-radius: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.card .btn-danger {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  padding: 0;
  text-align: center;
}
